.article-form {
    padding-top: 150px;
    padding-left: 200px;
}

.backbutton {
    padding: 10px;
    margin-left: -150px;
    width: fit-content;
    background-color: #3CB371;
    height: fit-content;
}

.backbutton a {
    color: white;
}

.form-group.required {
    position: relative;
}

.form-group.required:after {
    content: "*";
    position: absolute;
    top: 0;
    right: -10px;
    color: red;
}
